.sales_container {
  /* background-color: rgb(211, 225, 235); */
  min-height: 100vh;
  padding: 3%;
}
.title {
  width: 100%;
  /* background-color: aliceblue; */
  text-align: start;
  padding-left: 1%;
  height: fit-content;
  margin-bottom: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
  letter-spacing: 0.2px;
  word-spacing: -1.4px;
  color: #444;
  font-weight: bold;
}
.input_box {
  width: 100%;
  /* background-color: rgba(230, 59, 59, 0.137); */
  display: flex;
  flex-flow: row wrap;
  height: 200px;
  justify-content: center;
  align-items: center;
}
/* contenedor del input y el icon */
.input {
  width: 100%;
  position: relative;
}
.input input {
  border-radius: 8px;
  border: none;
  height: fit-content;
  padding: 15px;
  width: 98%;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
}
.icon {
  font-size: 28px;
  position: absolute;
  right: 2%;
  /* top: 12%; */

  height: 100%;
  cursor: pointer;
}
.icon:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.selects_box {
  width: 98%;
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  /* background-color: black; */
  padding: 5px;
}
.selects_box select {
  background-color: #3739b9;
  /* colores parciales */
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 5px;
}

/* .selects_box select:hover {
  background: #3cb0fd;
  text-decoration: none;
} */

.selects_box select option {
  color: rgb(235, 203, 203);
}
/* ----Tables---------- */
.table_container {
  width: 100%;
  background-color: rgba(17, 17, 29, 0.219);
  display: flex;
  justify-content: center;
  padding: 8px;
}
.table_container table {
  width: 100%;
  border: 2px solid rgba(136, 93, 241, 0.2);
}
/* t header */
.table_container table thead tr th {
  background-color: rgb(60, 45, 192);
  font-size: 19px;
  padding: 10px;
  color: #fff;
}
.table_container table thead {
  background-color: yellow;
}
/* -----------t body-------- */
.table_container table tbody tr td {
  padding: 18px;
  background-color: rgb(236, 207, 207);
}
.notMach {
  background-color: black;

  width: 100%;
  text-align: center;
}
.refresh {
  background-color: rgb(60, 45, 192);
  display: flex;
  border-radius: 5px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  padding: 8px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  margin-right: 30px;
}

.refresh:active {
  position: relative;
  top: 1px;
}
