
.close{
    display: flex;
    justify-content: flex-end;
}
.close span{
    background-color: rgb(44, 39, 39);
    padding: 10px;
    border-radius: 50%
    ;
    width: 40px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.close span:hover{
color: #333;
background-color: rgb(235, 207, 207);
}

.close span:active{
    position:relative;
    top: 1.5px
}
.buttons_box{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0px
    ;width: 400px;
margin: 0 auto;
}
.update{
    padding:14px;

    border: none;
    background-color: chartreuse
    ;
    border-radius: 4px;
    cursor: pointer;
}
.update:hover{
    background-color: rgb(110, 190, 30)
}

.update:active{
    position:relative;
    top:2.3px
}
.cancel{
    padding:14px;

    border: none;
    background-color: rgb(224, 139, 127)
    ;
    border-radius: 4px;
    cursor: pointer;
}
.cancel:hover{
    background-color: rgb(214, 58, 38)
}



.uForm{
    background-color: white;
    padding:10px
;    border-radius: 15px;
}
.inputs{
    
    padding: 10px
}
.inputs input, .inputs select{
    padding:8px;
    width: 50%;
    background-color: var(--color-grey-navbarbg);
    border: none
}
.uForm h3{
font-weight: bold;
    width: 100%;
    text-align: center;
     margin: 0 auto;
    padding: 5px;

}
.reduced_price{


    display: flex;
    justify-content: center;
    align-items: center;
}
.reduced_price span{
margin-right: 15px;
}
.description_box{

}
