body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-violet:#debfff;
  --color-light-violet:#ead7ff;
  --color-principal1-violet:#4c2c92;
  --color-principal-violet:#874CB6;
  --color-buttons-pink: #FF66C4;
  --color-buttonsHover-pink: #e46ec0;
}