.queries_box{
    padding: 20px;
    margin-top: 0px;
}
.queries_box .title {
    padding: 10px 10px;
    text-align: start;
    margin-bottom: 4%;
    color: #333;

}
.container{
    background-color: rgb(241, 239, 239);
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    
}
.reviewer_span{
    color:#333;
margin-top: 23px;
    width: 100%;
    margin: 0 auto;
;
display: inline-block;
}
.reviewer_box{

    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.assign_btn{
    padding:15px;
    margin:5px;
    border-radius: 8px;
    background-color: rgb(245, 250, 250);
}
.assign_btn:hover{
    background-color: rgb(143, 137, 137);
    cursor: pointer;

}

.ul_titles{
    width: 100%;
    background-color: var(--color-principal-violet);
    display: flex;
    list-style: none;
    font-size: 15px;
    /* espacio entre titulos */
    padding: 12px 43px;
    font-weight: normal;
    color: #fff;
    border-radius: 8px 8px 2px 2px;

}

.ul_titles li{
    margin: 5px; 
    /* mover de derecha a izquierda titulos */
    margin-left: 20px;  
    
}
.ul_file{
    display: flex;
    list-style: none;
    height: 130px;
    align-items: center;
    /* espacio entre medio info */
    padding: 5px;
    border-bottom: solid 0.5px rgba(99, 77, 77, 0.171);
    /* mover de derecha a izquierda info */
    /* margin-left: 20px;   */

}

.check_input{
margin-right: 20px;

}
.li_file_name{
    margin-left: 10px;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
}


.li_message{
    background-color: white;
    padding: 5px;
    border-radius: 15px;
    cursor: pointer;
}

    
.li_message span {
    font-weight: bold;
    font-size: 13px;
    color: var(--color-pink-buttons);
}
.li_message p {
    font-size: 13px;
}