.box {
    box-sizing: border-box;
    margin: 0;
    padding-top: 5%;
    min-height: 100vh;
    min-width: 250px;
    border-radius: in;
    background-color: var(--color-light-violet);
}
.box ul {
    list-style: none;
   
}
.btn, .btn2{
    width: 100%;
    height: 50px; 
    border-style: solid;
    border-color: var(--color-light-violet);
    border-width: 1px;
    color: var(--color-principal-violet);
    cursor: pointer;
    font-weight: bold;
}

.btn2 {
    margin-top: 60px;
    background-color: var(--color-violet);
    border-style: solid;
    border-color: transparent;
}

.btn img {
    height: 2.3rem;
    margin-left: -2rem;
    /* background-color: tomato; */


}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.btn:hover {
    background-color: var(--color-light-violet);
}
.active {
    background-color: var(--color-light-violet);
}
.btn2:hover {
    background-color: var(--color-light-violet);
}

.iconH {
    justify-self: start;

    
}

ul li {
    width: 100%;
}

span {
    justify-content: center;
}