.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  background-image: url(../../0865a63ee1b0b77fd5942b2fe54d7ea7.jpg);
  width: 400px;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  border-radius: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 9px 13px -2px #000000;
  box-shadow: 0px 9px 13px -2px #000000;
  background-position-x: -185px;
  background-position-y: -50px;
}
.content .input,
p {
  width: 100%;
  
}
h1{
  color: white;
  font-size: 30px;
  width: 100%;
  margin-top: 20px;
}

p {
  display: inline-block;
  text-align: center;
  background-color: rgb(46, 46, 40);
  padding: 18px;
  border-radius: 20px;
  color: #fff;
  height: 75px;
  width: fit-content;
  font-size: 15px;
}
.input {
  /* background-color: rgb(161, 136, 136); */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6px;
}
.input input {
  width: 330px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.button_div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 6px;
}
.button_div input {
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  width: 130px;
  height: 35px;
  background-color: var(--color-pink-buttons);
  color:white;
}
