.page {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
  }

.title {
    color: black;
    margin-right: 3rem;
}

.container{
    width: 50rem;
    height: 25rem;
    box-sizing: border-box;
    box-shadow: .1rem .1rem 0 0 rgba(0, 0, 0, 0.25);
    border-radius: .25rem;
    background-color: var(--color-light-violet);

    display: grid;
    justify-content: space-around;
    grid-template-columns: 3;
    padding: 3rem 1rem 1rem 1rem;
    margin: 3rem;
    margin-left: 19rem;
}

.box, .boxL, .boxE, .boxP, .boxA{
    display: grid;
    box-sizing: border-box;
    /* box-shadow: .1rem .1rem 0 0 rgba(0, 0, 0, 0.25); */
    width: 10rem;
    height: 7rem;
    padding: .5rem;
    font-size: 18px;

}

.box{
    grid-column: 1;
    grid-row: 1;
}

.boxL{
    grid-column: 2;
    grid-row: 1;
}

.boxE{
    grid-column: 2;
    grid-row: 2;
}

.boxA{
    grid-column: 1;
    grid-row: 2;
}

.boxP{
    grid-column: 3;
    grid-row: 1;
}

.key {
    font-weight: 700;

}

.textBox {
    margin-top: 5rem;
}