.page {
    display: block;
}

.addCat {
    padding: 1rem;
    border-radius: .25rem;
    border-color: transparent;
    background-color: var(--color-principal-violet);
    color: white;
    margin-bottom: 2rem;
    cursor: pointer;
}

.addCat:hover {
    background-color: var(--color-principal-violet-hover);
}

.btnCat {
    width: 18rem;
    height: 3rem;
    border-radius: .25rem;
    /* border-style: solid;
    border-width: .1rem;
    border-color: gray; */
    box-shadow: 0.1rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.2);
    background-color: var(--color-light-violet);
    color: var(--color-principal-violet);
    margin: .75rem;

}

.category {
    margin-top: -1rem;
}

.delete {
    padding: .25rem .5rem;
    border-radius: 5rem;
    border-color: transparent;
    background-color: transparent;
    color: red;
    display: flex;
    cursor: pointer;
}

.delete:hover {
    background-color: #f07167;
    color: white;
}

.btnSub {
    width: 18rem;
    height: 3rem;
    border-radius: .25rem;
    /* border-style: solid;
    border-width: .1rem;
    border-color: gray; */
    box-shadow: 0.1rem 0.1rem 0.1rem 0rem rgba(0, 0, 0, 0.2);
    background-color: var(--color-light-violet);
    color: var(--color-principal-violet);
    cursor: pointer;
    margin: .75rem;
    margin-left: 5rem;
}

.subcat {
    margin-top: -1rem;
}