.addCat {
    padding: 1rem;
    border-radius: .25rem;
    border-color: transparent;
    background-color: var(--color-principal-violet);
    color: white;
    margin-bottom: 2rem;
    cursor: pointer;
}

.btnCat {
    padding: 1rem;
    width: 15rem;
    border-radius: .25rem;
    border-width: .1rem;
    background-color: var(--color-light-violet);
    color: var(--color-principal-violet);
    font-weight: 700;
    cursor: pointer;
    margin: .75rem;
}