.main_box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  padding: 25px 10px;
}
.main_container {
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 36px 36px 69px #d0d0d0, -36px -36px 69px #f0f0f0;
  min-height: 95vh;
  width: 96%;
  display: flex;
  padding: 10px 15px;
}
.main_container section{
  display: flex;
  flex-flow: column;
  width: 70%;
  flex-grow: 1;
  border-radius: inherit;
}