* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form {
  width: 450px;
  padding: 70px;
  margin: auto;
  margin-top: 65px;
  border-radius: 2rem;
  border-style: none;
  color: gray;

  font-size: 16px;
  margin-bottom: 20px;
  box-shadow: 0 0 3px 3px rgba(216, 212, 212, 0.5);
  /* background-color: var(--color-principal-violet); */
  background-image: url(../../0865a63ee1b0b77fd5942b2fe54d7ea7.jpg);
  background-repeat: no-repeat;
  background-position-x: -185px;
  background-position-y: -50px;
  font-weight: 700;
}
.form small {
  color: black;
}
.title {
  color: white;
  margin-bottom: 50px;
}

.form input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  color: gray;
  border-style: none;
  /* border-color: red; */
}

.btn {
  margin-top: 40px;
  border-style: none;
  border-radius: 8px;
  cursor: pointer;
  width: 130px;
  height: 35px;
  background-color: var(--color-buttons-pink);
  color:white;
  /* margin: 10px; */
  /* padding: 8px 25px 8px 25px; */
}
.btn:hover {
  background-color: var(--color-buttonsHover-pink);
  /* font-weight: bold; */
}

.link {
  font-size: 11px;
  text-decoration: none;
  color: white;
  margin-right: 98px;
  margin-top: 15px;
}

.restPassword {
  display: flex;
  margin-top: -5px;
  justify-content: flex-end;
}
